{% extends 'main/base.html' %}

{%  block title %}
Home
{%  endblock %}

{%  block content %}

<section class="hero">
  <div class="container">
      <div class="container">
          <div class="row">
                  <div class="bg-image d-flex justify-content-center align-items-top" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/images/76.jpg');
            height: 100vh">
                      <div class="mask col-lg-12" style="background-color: rgba(0, 0, 0, 0.295);">
                        <div class="row">
                            <h1 class="text-white align-content-top">Dixon Chiu</h1>
                            <p class="text-white align-text-top">I love Python!</p>
                        </div>
                        <div class="col-lg-12">

                        </div>
                      </div>
                 </div>
          </div>
      </div>

</section>
{%  endblock %}

