{% extends 'main/base.html' %}

{%  block title %}
Home
{%  endblock %}

{%  block content %}

<section class="hero">
  <div class="container">
      <div class="container">
          <div class="row">

              <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
                  <div class="bg-image d-flex justify-content-center align-items-center" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/images/76.jpg');
            height: 100vh">
                      
                          <h1 class="text-white">Dixon Chiu</h1>
                          <p>
                              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus praesentium
                              labore accusamus sequi, voluptate debitis tenetur in deleniti possimus modi voluptatum
                              neque maiores dolorem unde? Aut dolorum quod excepturi fugit.
                          </p>
                  </div>
               </div>
          </div>
          



      </div>

</section>
{%  endblock %}
